<h3>Temp Front-End</h3>
<div class='row'>
  <div class='col-md-6'>
    Bacon ipsum dolor amet ground round venison turducken pancetta ham hock, tri-tip frankfurter t-bone picanha. Shoulder doner porchetta pork chop andouille. Swine beef ribs rump jerky pancetta bacon. Pancetta alcatra pig porchetta doner andouille tenderloin capicola landjaeger tri-tip cow cupim. Venison drumstick chuck, turducken andouille chicken bresaola sirloin kevin pastrami salami.
    Pastrami salami sirloin venison. Strip steak hamburger ball tip sausage. Pig brisket short ribs kevin kielbasa cupim short loin. Shoulder chuck porchetta pork cow flank cupim turducken pastrami jerky ribeye meatball. Turkey short ribs cupim corned beef biltong ground round. Beef ribs jerky tri-tip, beef ball tip bacon pork porchetta salami ham hock.

  </div>
  <div class='col-md-6'>
    Pastrami salami sirloin venison. Strip steak hamburger ball tip sausage. Pig brisket short ribs kevin kielbasa cupim short loin. Shoulder chuck porchetta pork cow flank cupim turducken pastrami jerky ribeye meatball. Turkey short ribs cupim corned beef biltong ground round. Beef ribs jerky tri-tip, beef ball tip bacon pork porchetta salami ham hock.
    Pastrami salami sirloin venison. Strip steak hamburger ball tip sausage. Pig brisket short ribs kevin kielbasa cupim short loin. Shoulder chuck porchetta pork cow flank cupim turducken pastrami jerky ribeye meatball. Turkey short ribs cupim corned beef biltong ground round. Beef ribs jerky tri-tip, beef ball tip bacon pork porchetta salami ham hock.

  </div>
</div>